<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.employeebadge">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@drawable/circle11"
        android:label="@string/app_name"
        android:roundIcon="@drawable/circle11"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory"
        android:largeHeap="true"
        >
        <activity android:name=".ui.activity.ChangePasswordActivity"></activity>
        <activity
            android:name=".ui.activity.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.AddThemeActivity" />
        <activity android:name=".ui.activity.GalleryThemesActivity">

        </activity>
        <activity android:name=".ui.activity.LoginActivity">

        </activity>
        <activity
            android:name=".ui.activity.PreviewNameCardActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".ui.activity.InputNameCardActivity" />
        <activity android:name=".ui.activity.CropPictureCardActivity" />
        <activity android:name=".ui.activity.SendEmailActivity" />
        <activity android:name=".ui.activity.CropCardActivity" />
        <activity
            android:name=".ui.activity.InputInfoActivity"
            android:label="@string/title_activity_input_info" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait" />

        <activity

            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorActivity"

            android:screenOrientation="portrait"

            android:theme="@android:style/Theme.Holo.NoActionBar" />

        <activity

            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorStickerActivity"

            android:screenOrientation="portrait"

            android:theme="@android:style/Theme.Holo.NoActionBar" />

        <activity

            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorTextActivity"

            android:screenOrientation="portrait"

            android:theme="@android:style/Theme.Holo.NoActionBar"

            android:windowSoftInputMode="adjustPan" />

        <activity

            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorCropActivity"

            android:screenOrientation="portrait"

            android:theme="@android:style/Theme.Holo.NoActionBar" />

        <activity

            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorDrawActivity"

            android:screenOrientation="portrait"

            android:theme="@android:style/Theme.Holo.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>